* {
  padding:0;
}

.image_container {
  position:relative;
  width: 80%;
  height: calc(100vh - 270px); /* 페이지의 전체 높이에서 header와 footer를 제외한 나머지 공간의 크기로 설정 */
}

.image_container .image {
  max-width: 100%; /* 최대 너비 설정 */
  max-height: 100%; /* 최대 높이 설정 */
  width: auto;
  height: auto;
}

.image_container:after {
  content:"";
  display:block;
  width:auto;
  height:auto;
  background-color:rgba(0, 0, 0, 0.3);
  
  position:absolute;
  top:0;
  left:0;

  opacity:0;
}

.image_container:hover:after {
  opacity:1;
}

.left_triangle {
  position:absolute;
  top:300px;
  left:30px;
  opacity:0;

  width: 0px;
  height: 0px;
  border-right: 50px solid #eeeeee;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.right_triangle {
  position:absolute;
  top:300px;
  right:30px;
  opacity:0;

  width:0px;
  height:0px;
  border-left: 50px solid #eeeeee;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.image_container:hover .left_triangle, .image_container:hover .right_triangle{
  opacity:0.3;
}
