<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MustHaveJSP</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <!-- 세션 유지 시간 설정(예제 6-1) -->
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <!-- 게시판 페이징 처리를 위한 설정값(예제 9-3) -->
  <context-param>
    <param-name>POSTS_PER_PAGE</param-name>
    <param-value>9</param-value>
  </context-param>
  <context-param>
    <param-name>PAGES_PER_BLOCK</param-name>
    <param-value>5</param-value>
  </context-param>
  <!-- 첨부 파일 최대 용량 설정(예제 14-8) -->
  <context-param>
    <param-name>maxPostSize</param-name>
    <param-value>1024000</param-value>
  </context-param>
  <!-- encoding -->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>Common.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  
  
 </web-app>